<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>165949414355-kq2874bt5ffoe4qdbd7qaqmg3b27lk6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165949414355-kq2874bt5ffoe4qdbd7qaqmg3b27lk6e</string>
	<key>API_KEY</key>
	<string>AIzaSyDgV8bkiYRVv1Y9ElBgIVE8I6xcSIHA1wU</string>
	<key>GCM_SENDER_ID</key>
	<string>165949414355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yay.faceLogin</string>
	<key>PROJECT_ID</key>
	<string>facelogin-3a9e2</string>
	<key>STORAGE_BUCKET</key>
	<string>facelogin-3a9e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:165949414355:ios:a50b3dc0b299098d</string>
	<key>DATABASE_URL</key>
	<string>https://facelogin-3a9e2.firebaseio.com</string>
</dict>
</plist>
